extends layout
block content
  h1 Students list
    //- Define a form whose data will be passed to the /student-select route via a POST request
  form(action='/student-select', method='POST')
    //- The POST parameter will be called student
    select(name='studentParam')
      //- We loop through the students array, extracting a variable called student
      for student in students
        //- we build the option list from the id and name properties on the student object
        option(value=student.id) #{student.name}
    <div>
      //- render the submit button
    input(type='submit' value='Submit')
